DirectoryIndex disabled
RewriteEngine On
RewriteRule ^$ http://127.0.0.1:30001/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:30001/$1 [P,L]
Header set Access-Control-Allow-Origin "*"
